//    -----------------------------ABOUT SECTION

.aboutSection{
    background-color: $black;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23383838' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.aboutMe{
    width: 80%;
    position: relative;
    margin: 0 auto;
    h3{
        margin: 0;
        @include fontSize(14);
        text-align: center;
        border-bottom: 1px solid $orange;
    }
}

@media only screen and (max-width: 400px){
    .aboutMe{
        width: 100%;
    }
}

// HI BOX IN ABOUT SECTION
.hiBox{
        @include fontSizeText(10);
        color: black;
        text-shadow: none;
        p{
            display: inline-block;
            margin: 0;
            background: $orange;
            font-weight: bold;
            z-index: 10;
            position: relative;
        }
        p::before{
            content: '';
            width: 25px;
            height: 25px;
            background: $orange;
            position: absolute;
            left: 5px;
            top: 5px;
            display: inline-block;
            transform: rotate(134deg);
            z-index: -10;
        }
}

.aboutContent{
    position: relative;
    margin-bottom: 50px;
}

.aboutName{
    @include fontSizeText(12);
    text-align: center;
    margin: 20px auto;
    span{
        color: $orange;
    }
}

.aboutDev{
    @include fontSizeText(12);
    color: $orange;
}

.aboutText{
    @include fontSizeText(10);
    color: $textcolor;
    text-align: center;
}

.personalInfo{
    background: $softblack;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #303030;
}
@media only screen and (max-width: 400px){
    .personalInfo{
        padding: 5px;
        p, span{
            font-size: 0.8rem;
        }
    }
}

.personalContainer{
    p{
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include fontSizeText(10);
        
        span{
            color: $textcolor;
        }
        i{
            color: $orange;
        }
        span.emailAddress{
            word-break: break-all;
        }
    }
}

h3.personalTitle{
    margin: 20px auto;
}