article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  border: 4px solid #f0a045;
  background-color: #303030;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23383838' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

h1, h2, h3, h4 {
  text-shadow: 1px 1px 3px black; }

.mainHeader {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  width: 100%;
  padding-bottom: 200px; }

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto; }

.headerNav {
  position: fixed;
  right: 13px;
  width: 1%;
  z-index: 20;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  word-break: break-all;
  text-align: center;
  opacity: 0.8; }
  .headerNav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .headerNav ul li {
      font-size: 8px;
      font-size: 0.8rem;
      font-family: "Karla";
      color: white;
      letter-spacing: 1px;
      line-height: 28px;
      margin: 10px 5px 10px 0;
      line-height: 12px;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .headerNav ul li a {
        color: white;
        text-decoration: none;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }

.headerNav li:hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.headerNav a:hover {
  color: #f0a045; }

.headerSection {
  margin: 0 auto;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media only screen and (max-width: 768px) {
  .headerSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px; } }

.headerInfo {
  margin: 8% 0 0 5%; }
  .headerInfo .hiBox {
    font-size: 10px;
    font-size: 1rem;
    font-family: "Karla";
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    color: black;
    text-shadow: none; }
    .headerInfo .hiBox p {
      display: inline-block;
      margin: 0;
      background: #f0a045;
      font-weight: bold;
      z-index: 10;
      position: relative;
      padding: 3px; }
    .headerInfo .hiBox p::before {
      content: '';
      width: 25px;
      height: 25px;
      background: #f0a045;
      position: absolute;
      left: 5px;
      top: 13px;
      display: inline-block;
      -webkit-transform: rotate(134deg);
      -ms-transform: rotate(134deg);
      transform: rotate(134deg);
      z-index: -10; }

@media only screen and (max-width: 768px) {
  .headerInfo {
    margin-left: 10%;
    margin-top: 10%; } }

@media only screen and (max-width: 400px) {
  .headerInfo {
    margin-left: 0; } }

.headerInfo a {
  background: none;
  border: 2px solid #f0a045;
  color: #f0a045;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  width: 150px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.headerInfo a:hover {
  border: 2px solid white;
  color: white; }

.headerSection img {
  min-width: 40%;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8; }

h2 {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Spectral";
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  line-height: 28px; }

h1 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Spectral";
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  line-height: 28px; }

.headerAbout {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px; }

.headerPic .testBox {
  height: 50px;
  width: 50px;
  background: orange; }

.aboutSection {
  background-color: #303030;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23383838' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.aboutMe {
  width: 80%;
  position: relative;
  margin: 0 auto; }
  .aboutMe h3 {
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    border-bottom: 1px solid #f0a045; }

@media only screen and (max-width: 400px) {
  .aboutMe {
    width: 100%; } }

.hiBox {
  font-size: 10px;
  font-size: 1rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  color: black;
  text-shadow: none; }
  .hiBox p {
    display: inline-block;
    margin: 0;
    background: #f0a045;
    font-weight: bold;
    z-index: 10;
    position: relative; }
  .hiBox p::before {
    content: '';
    width: 25px;
    height: 25px;
    background: #f0a045;
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    -webkit-transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    transform: rotate(134deg);
    z-index: -10; }

.aboutContent {
  position: relative;
  margin-bottom: 50px; }

.aboutName {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
  margin: 20px auto; }
  .aboutName span {
    color: #f0a045; }

.aboutDev {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  color: #f0a045; }

.aboutText {
  font-size: 10px;
  font-size: 1rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  color: #9f9f9f;
  text-align: center; }

.personalInfo {
  background: #383838;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #303030;
  box-shadow: 0px 0px 3px #303030; }

@media only screen and (max-width: 400px) {
  .personalInfo {
    padding: 5px; }
    .personalInfo p, .personalInfo span {
      font-size: 0.8rem; } }

.personalContainer p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 10px;
  font-size: 1rem;
  font-family: "Karla";
  color: white;
  letter-spacing: 1px;
  line-height: 28px; }
  .personalContainer p span {
    color: #9f9f9f; }
  .personalContainer p i {
    color: #f0a045; }
  .personalContainer p span.emailAddress {
    word-break: break-all; }

h3.personalTitle {
  margin: 20px auto; }

.skills {
  margin-top: 50px; }

.skills .wrapper {
  text-align: center; }

.skillsDescription {
  width: 80%;
  margin: 0 auto; }
  .skillsDescription h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid #f0a045;
    margin-bottom: 20px; }
  .skillsDescription p {
    margin: 0 auto;
    font-size: 10px;
    font-size: 1rem;
    font-family: "Karla";
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    color: #9f9f9f; }

.skillIcons {
  width: 80%;
  margin: 0 auto;
  background-color: #383838;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #303030;
  box-shadow: 0px 0px 3px #303030; }
  .skillIcons i {
    font-size: 44px;
    margin: 2%;
    color: #f0a045; }
    .skillIcons i img {
      height: 45px;
      width: 33px; }

@media only screen and (max-width: 400px) {
  .skillsDescription {
    width: 100%; }
  .skillIcons {
    width: 100%; } }

.latestWorks {
  margin-top: 50px; }

.worksBottom {
  background-color: #383838;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 3px #303030;
  box-shadow: 0px 0px 3px #303030; }
  .worksBottom .workContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px; }
    .worksBottom .workContainer img {
      width: 50%;
      height: auto;
      opacity: 0.7; }
    .worksBottom .workContainer .workItemsDes {
      width: 50%;
      text-align: left;
      text-align: center; }
      .worksBottom .workContainer .workItemsDes h4 {
        font-size: 14px;
        font-size: 1.4rem;
        font-family: "Karla";
        color: white;
        letter-spacing: 1px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        display: block;
        margin: 10px; }
      .worksBottom .workContainer .workItemsDes P {
        color: #f0a045;
        margin: 0;
        display: block;
        margin: 10px; }
        .worksBottom .workContainer .workItemsDes P span {
          color: white; }
      .worksBottom .workContainer .workItemsDes a {
        background: none;
        border: 2px solid #f0a045;
        color: #f0a045;
        padding: 5px 15px 5px 15px;
        border-radius: 5px;
        width: 150px;
        text-decoration: none;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        margin: 10px;
        display: inline-block;
        text-align: center;
        transition: 0.4s;
        cursor: pointer; }

.worksBottom .workContainer .workItemsDes a:hover {
  color: white;
  border: 2px solid white; }

@media only screen and (max-width: 975px) {
  .worksBottom .workContainer .workItemsDes {
    padding: 5px; } }

@media only screen and (max-width: 768px) {
  .worksBottom {
    width: 100%; }
  .workContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .worksBottom .workContainer img, .worksBottom .workContainer .workItemsDes {
    width: 100%; }
  .workContainer:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.workItems {
  position: relative;
  margin: 50px 0 80px 0; }
  .workItems img {
    display: block;
    margin: 0 auto; }
  .workItems i {
    position: absolute;
    top: 90px;
    left: 100px;
    color: orange;
    font-size: 30px;
    position: absolute;
    left: 40px;
    top: 100px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    z-index: 20; }
  .workItems .overlay {
    position: relative; }

.workItems i:hover {
  color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media only screen and (max-width: 900px) {
  .worksBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .workItems {
    margin: 0 auto; }
    .workItems i {
      top: 70px;
      left: 30px; } }

@media only screen and (max-width: 400px) {
  .workItems img {
    width: 100%; } }

.worksTop {
  text-align: center; }
  .worksTop h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #f0a045; }
  .worksTop p {
    margin: 0 auto;
    font-size: 10px;
    font-size: 1rem;
    font-family: "Karla";
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    color: #9f9f9f;
    width: 60%; }

@media only screen and (max-width: 768px) {
  .worksTop p {
    width: 80%; } }

@media only screen and (max-width: 400px) {
  .worksTop p {
    width: 100%; } }

.contact {
  margin-top: 150px; }

.contactTop {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .contactTop h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid #f0a045;
    margin-bottom: 20px; }
  .contactTop p {
    margin: 0 auto;
    font-size: 10px;
    font-size: 1rem;
    font-family: "Karla";
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    color: #9f9f9f;
    width: 60%; }

.contactBottom {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  .contactTop p {
    width: 100%; }
  .contactBottom {
    width: 100%; } }

.formContent input, .formContent button, .formContent textarea {
  width: 100%; }

.formContent button {
  margin-top: 20px; }

.formContent input, .formContent textarea {
  background-color: #383838;
  border: none;
  border-bottom: 1px solid #f0a045;
  color: white;
  margin-bottom: 10px; }

button {
  background: none;
  border: 2px solid #f0a045;
  color: #f0a045;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  width: 150px; }

button:hover {
  border: 2px solid white;
  color: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

footer {
  height: 30px;
  margin-top: 30px;
  background-color: #303030;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23383838' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  footer h3 {
    font-size: 7px;
    font-size: 0.7rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center; }

@media only screen and (max-width: 400px) {
  footer h3 {
    font-size: 5px;
    font-size: 0.5rem;
    font-family: "Spectral";
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 28px; } }
